*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-carosel{
    position: relative;
    padding: 15px;
    max-width: 260px;
    margin: 0 auto;
}

.galeria.wrapper{
    overflow-x: auto;
}

.galeria{
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.arrow-left{
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 10px;
    width: 40px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: nome;
    background: linear-gradient(to left, trasparent 0%, black 200%);
}